
.slidershow{
  width: 700px;
  height: 600px;

  overflow: hidden;
}
.navigation{
  position: absolute;
  bottom: 430px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 50px;
  height: 10px;
  border: 2px solid rgb(0, 0, 0);
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover{
  background: rgb(243, 0, 0);
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}


/* .shopping-card::before {
    position: relative;
    content: "3";
    width: 25px;
    height: 25px;
    background: #e96239;
    color: #fff;
    line-height: 25px;
    text-align: center;
    border-radius: 30px;
    font-size: 12px;
    top: 0px;
    right: -6px;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  } */

  .shopping-card i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #eeeeee;
    color: #4e4e4e;
    font-size: 14px;
    cursor: pointer;
  }

  .navbar{
      background-color: #4e4e4e;
  }

  .uva{
      border-radius: 50%;
      height: 50px;
  }
  
.login {
        padding: 15px 15px !important;
        display: block;
        margin: 20px auto;
        text-align: center;
        background: none;
        color: black;
        padding: 14px 40px;
        background-color: #ED254E;
        font-size: 15px;
        outline: none;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans",sans-serif;
  box-sizing: border-box;
}

body{
  background: #4e4e4e;
  transition: 0.6s linear;
}

.product-card{
  width: 400px;
  background: #ffffff;
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
}
.product-card h1{
  font-size: 22px;
  margin-bottom: 4px;
}
.product-card p{
  font-size: 13px;
  color: #bbb;
}
.product-pic{
  background-image: url(1.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: .6s linear;
}
.product-colors{
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.product-colors span{
  width: 14px;
  height: 14px;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.blue{
  background: #4e4e4e;
}
.cinza{
  background: #c4c8cf;
}
.azu{
  background: #409dd3;
}
.marelo{
  background: #eedd4a;
}

.product-colors .active:after{
  content: "";
  width: 22px;
  height: 22px;
  border: 2px solid #8888;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  left: -4px;
  top: -4px;
}
.product-info{
  display: flex;
  align-items: center;
}
.product-price{
  color: #7ed6df;
  font-size: 26px;
}
.product-button{
  margin-left: auto;
  color: #7ed6df;
  text-decoration: none;
  border: 2px solid;
  padding: 8px 24px;
  border-radius: 20px;
  transition: .4s linear;
}

.product-button:hover{
  transform: scale(1.06);
}
